.advanced-menu {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column; /* Vertikale Anordnung */
    gap: 10px; /* Abstand zwischen Titel und Inhalt */
    padding: 20px; /* Innenabstand */
    color: white; /* Textfarbe */
    border-radius: 8px; /* Abgerundete Ecken */
  }
  
  .advanced-menu-title {
    font-size: 1.5rem; /* Überschriftengröße */
    margin: 0; /* Kein Abstand nach unten */
    text-align: center; /* Zentriert */
  }
  
  .advanced-menu-content {
    flex: 1; /* Inhalt nimmt restlichen Platz ein */
    display: flex;
    justify-content: center; /* Zentriere den Inhalt horizontal */
    align-items: center; /* Zentriere den Inhalt vertikal */
    border-radius: 4px; /* Inhaltsecken leicht abrunden */
    padding: 10px; /* Inhaltspadding */
  }
  
  /* Tracking content styling */
.construction-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriere horizontal */
    text-align: center; /* Zentriere den Text */
    gap: 10px; /* Abstand zwischen Icon und Text */
  }
  
.construction-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; /* Vergrößere das Icon */
    color: orange; /* Optionale Farbe für das Icon */
}

.construction-description {
    font-size: 1rem;
    color: lightgray; /* Optionale Farbe für den Text */
  }